.spacer--h10 {
  height: 10px;
}

.page {
  padding: 15px;
}
.page__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: -24px;
}

.product {
  width: 300px;
  margin: 0 12px;
  margin-top: 24px;
}
.product__body {
  border: 1px solid #a0aec0;
  padding: 11px;
  border-radius: 6px;
}
.product__price {
  font-size: 25px;
  font-weight: bold;
}
.product__add-to-cart {
  background: darksalmon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
}
