.cart {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 12px;
    &__area {
        padding: 12px 15px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 1px solid #4a55683a;
        border-top: none;
        /*height: 80px;*/
        &--expanded {
            height: 500px;
        }
    }
    &__items {

    }
}
.cart-item {
    &__name {

    }
    &__price {

    }
    &__quantity {

    }
}