.isLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(133, 132, 131, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 9999;
}

.spacer--h10 {
  height: 10px;
}

.page {
  padding: 15px;
}
.page__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: -24px;
}

.product {
  width: 300px;
  margin: 0 12px;
  margin-top: 24px;
}
.product__body {
  border: 1px solid #a0aec0;
  padding: 11px;
  border-radius: 6px;
}
.product__price {
  font-size: 25px;
  font-weight: bold;
}
.product__add-to-cart {
  background: darksalmon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 12px;
}
.cart__area {
  padding: 12px 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #4a55683a;
  border-top: none;
  /*height: 80px;*/
}
.cart__area--expanded {
  height: 500px;
}
